<div class="jumbotron">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center"> Preview Information </h2>
    </div>
  </div>
  <p class="lead">
    <div class="text-center">
      <h2>First Name: <%= @person.first_name %></h2>
      <h2>Last Name: <%= @person.last_name %></h2>
      <h2>Email: <%= @person.email %></h2>
      <h2>Country: <%= @person.country.name %></h2>
      <h2>State: <%= @person.state.name %></h2>
      <a  href="/people/<%= @person.id %>/edit", class="btn btn-info">Edit</a>
      <a  href="/people/<%= @person.id %>/proceed", class="btn btn-info">Proceed</a>
    </div>
  </p>
</div>
